@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');


.nav-link{
    color: rgba(255, 255, 255, 0.7) !important;
}

.nav-link:hover{
    color: cyan !important;
}
.nav-highlight{
    color: cyan !important; 
    font-weight: 800;
}
.navbar-brand {
    color: aliceblue !important;
    font-weight: 800;
}
.nav-bar-color {
    background-color: #181823 !important;

}

.col-lg-6{
    flex: 0,0,auto;
    width: 50%;
}

.typography-container{
    padding-bottom: 120px;
}

hr{
    background-color: lightgrey;
}

.footer{
    background-color: #181823;
    text-align: center;
    color: aliceblue;
    bottom: 0;
    width: 100%;
    position: fixed;
}